@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .hoverEffect {
    @apply cursor-pointer hover:bg-gray-400 rounded-full w-[55px] xl:w-auto h-[55px] xl:h-auto xl:p-3 transition duration-500 ease-out;
  }
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  overflow-x: hidden;
  background-color: black;
}
.image {
  flex: 0 1 53vw;
}

.content {
  flex: 0 0 47vw;
}

.btn-signup {
  transition: all 0.2s ease;
}

.footer {
  padding: 1rem 2%;
}

.footer nav a,
.footer nav div {
  font-size: 13px;
  margin: 0.3rem 0.5rem;
  border-bottom: 1px solid transparent;
  transition: all 0.2s ease;
}

.footer nav a:hover {
  border-bottom: 1px solid #536471;
}

@media (max-width: 1024px) {
  .content {
    order: -1;
    height: 80vh;
    margin: 0 auto;
  }

  .image {
    height: 50vh;
    flex: 0 1 100vw;
  }

  .btn {
    width: 15rem;
    margin-right: 1rem;
  }

  h1 {
    font-size: 8vw;
  }
  h3 {
    font-size: 2rem;
  }
}

@media (max-width: 768px) {
  .content {
    padding: 2rem;
    margin: 0;
  }

  .button {
    flex-direction: column;
  }

  .btn {
    width: 25rem;
  }
  h1 {
    font-size: 10vw;
  }

  h3 {
    font-size: 1.7rem;
  }
}
@media (max-width: 640px) {
  h1 {
    font-size: 2rem;
  }

  h3 {
    font-size: 2rem;
  }
}
